 /* CSS Style for The Peach Pit  */

/* ========================
    Base Element Styles
======================== */

 * {
    box-sizing: border-box;
 }


body {
    text-align: center;
}

h1 {
    font-size: 60px;
    color: black;
    margin-top: 0;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

p {
    font-size: 30px;
    font-family: Verdana;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
}

a {
    font-size: 2em;
}


/* ======================
    Base Layout Styles 
========================*/

/* -------Layout Containers------- */

.main-header {
    padding-top: 20px;
    height: 375px;
    background: linear-gradient(#ffa949, transparent 90%),
                linear-gradient(0deg, #fff, transparent),
                #ffa949 url('../img/mountains.jpg') no-repeat center;
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
  }

  .main-footer {
    background: gray; 
    padding: 2em 0;
  }

  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
  
/* -------Page Elements------- */

  .title {
    color: purple;
    font-size: 4em; /* 26px/16px */
    letter-spacing: .065em;
    font-weight: 200;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
  }
  
  .intro {
    font-size: 3em; /* 20px/16px */
    line-height: 1.6;  
  }

  .main-p,
  .main-info {
    font-family: Arial;
    padding: 10px 10px;
    margin: 20px;
  }

  .main-title {
    color: blue;
    border: 2px dotted black;
  }


 